/************************TAG SELETORS ******************************/
body {
  margin: 0;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #616f39;
  margin-top: 10px;
}

h2 {
  font-family: 'Merriweather', sans-serif;
  color: #616f39;
  margin-top: 0;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  text-align: justify;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  margin-top: 0;
}

h5 {
  font-family: 'Merriweather', serif;
  color: #ffffff;
  margin-top: 0;
}

hr {
  border-color: #616f39;
  border-style: dotted none none;
  padding-bottom: 3em;
  border-width: 7px;
  width: 10%;
}

p {
  font-family: 'Merriweather', serif;
  color: #ffffff;
  margin: 0;
  line-height: 2;
  font-size: 20px;
}

td {
  padding-right: 10px;
}

h4:hover {
  font-size: 150%;
  font-weight: bolder;
  font-style: oblique;
}

/***********************CLASS SELETORS ******************************/

.h5-headingFormat {
  width: 100%;
  height: auto;
  margin: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;

  text-align: center;

  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bolder;
  color: #616f39;


}

.p-contentFormat {
  width: 100%;
  height: auto;
  margin: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;

  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  color: #616f39;


border: none 2px red;

}

.h2-headingFormatLeft {
  width: 50%;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  color: #000;
  margin-top: 2%;
  margin-left: 48%;
  text-align: center;
}

.p-contentFormatRight {
  width: 50%;
  height: auto;
  margin: auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  color: #616f39;


}

.ba-div {
  width: 60%;
  height: 30em;
  position: relative;
  margin-left: 8%;
  margin-right: auto;
  margin-top: 10em;

  border-style: none;
  border-width: 2px;
  border-color: red;
}

.map-div {
  width: 60%;
  height: 30em;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 46em;

  border-style: none;
  border-width: 2px;
  border-color: red;
}

.bp-div {
  width: 60%;
  height: 30em;
  position: relative;
  margin-left: 8%;
  margin-right: auto;
  margin-top: 48em;

  border-style: none;
  border-width: 2px;
  border-color: red;
}

.dev-div {
  width: 60%;
  height: 30em;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55em;

  border-style: none;
  border-width: 2px;
  border-color: red;
}

.copyright-container {
  width: 100%;
  height: 2em;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 167.5em;
  background-color: #000000;
  z-index: 3;
}

.footer-container {
  width: 100%;
  height: 5em;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 165em;
  padding-top: .5em;
  background-color: #000000;
  z-index: 2;

}

.footer-p {
  font-family: 'Merriweather', serif;
  color: #616f39;
  text-align: center;
}

.h3-intro {
  font-family: 'Merriweather', serif;
  color: #616f39;
  line-height: 2;
  margin: 0;
}

.h3-signature {
  font-family: 'Sacramento', cursive;
  color: #616f39;
  font-size: 3.2em;
  text-align: right;
}

.img-ArrowFormating {
  position: absolute;
  margin-left: 45.4%;
  margin-right: auto;
  margin-top: 6%;
  width: 15%;
  height: 20%;


}

.img-baFormating {
  width: 40%;
  height: 10%;
  position: absolute;
  margin-left:30%;
  margin-top: 8em;

  border: 2px none red;

}

.img-mapFormating {
  width: 40%;
  height: 10%;
  position: absolute;
  margin-left: 29.5%;
  margin-top: 6em;

  border: 2px none red;

}

.img-bpFormating {
  width: 40%;
  height: 10%;
  position: absolute;
  margin-left:30%;
  margin-top: 12em;

  border: 2px none red;

}

.img-devFormating {
  width: 40%;
  height: 10%;
  position: absolute;
  margin-left: 29.5%;
  margin-top: 12em;

  border: 2px none red;

}

.img-line1Formating {
  width: 20%;
  position: absolute;
  margin-left: 43%;
  margin-top: 16em;

  z-index: 1;

}

.img-line2Formating {
  width: 20%;
  position: absolute;
  margin-left: 37%;
  margin-top: 55em;

  z-index: 1;

}

.img-line3Formating {
  width: 20%;
  position: absolute;
  margin-left: 43%;
  margin-top: 96em;

  z-index: 1;

}

.img-line4Formating {
  width: 20%;
  position: absolute;
  margin-left: 37%;
  margin-top: 138em;

  z-index: 1;

}

.lineFormating {
  width: 20%;
  position: absolute;
  margin-left: 37%;
  margin-top: 138em;

  z-index: 1;

}

.img-devBubbleFormating {
  position: absolute;
  margin-left: 5%;
  margin-top: 10%;
  width: 40%;
  height: 40%;
}

.img-mapBubbleFormating {
  position: absolute;
  margin-left: 55%;
  margin-top: 10%;
  width: 40%;
  height: 40%;
}

.img-leftFormating {
  position: relative;
  margin: 0 0 .5em 1em;
  width: 15vw;
  height: 15vh;
  float: left;
}

.img-rightFormating {
  position: relative;
  margin: 0 0 0 .5em;
  width: 15vw;
  height: 15vh;
  float: right;
}

.img-keyboard-container {
  width: 100%;
  height: 7%;
  position: relative;
  margin-top: 2%;


}

.img-keyboard {
  width: 100%;
  height: 100%;
}

.introduction-container {
  width: 60%;
  height: 18%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  z-index: 3;

}

.menu-container {
  width: 100%;
  height: 3em;
  position: absolute;
  margin-top: 0;
  background-color: #000000;
  z-index: 1;


}

.menu-links {
  text-decoration: none;
}

.menu-text {
  position: absolute;
  right: 1em;
  margin-top: .5em;
}

.h4-menuText {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: bolder;
}


.leftSide-container {
  width: 50%;
  height: 169em;
  position: absolute;
  margin-left: 0;
  margin-top: 0;
  background-color: #000000;

}

.rightSide-container {
  width: 50%;
  height: 169em;
  position: absolute;
  margin-left: 50%;
  margin-top: 0;
  background-color: #3e432e;

}

.Old-leftSide-container {
  width: 15%;
  height: 170em;
  position: absolute;
  margin-left: 0;
  margin-top: 0;
  background-color: #3e432e;


}

.page2-title {
  width: 100%;
  position: relative;
  text-align: center;
  margin-top: .5em;
  font-family: 'Montserrat', sans-serif;
  font-size: 44px;
  font-weight: 900;
  color: #616f39;

}


/***********************ID SELETORS ******************************/
#main-container {
  width: 100%;
  height: 170em;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background-color: #000000;
}
