/************************TAG SELETORS ******************************/
body {
  margin: 0;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #616f39;
  margin-top: 10px;
}

h2 {
  font-family: 'Merriweather', sans-serif;
  color: #616f39;
  margin-top: 0;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  text-align: justify;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  margin-top: 0;
}

p {
  font-family: 'Merriweather', serif;
  color: #ffffff;
  margin: 0;
}

td {
  padding-right: 20px;
}

a:hover {
  font-size: 110%;

}

h4:hover {
  font-size: 150%;
  font-weight: bolder;
  font-style: oblique;
}

/***********************CLASS SELETORS ******************************/
.ba-div {
  width: 40%;
  height: 20em;
  position: absolute;
  margin-top: 0;
  margin-left: 10%;
  text-align: center;
}

.bp-div {
  width: 40%;
  height: 20em;
  position: absolute;
  margin-top: 0;
  margin-left: 53%;
  text-align: center;
}

.copyright-container {
  width: 100vw;
  height: 2em;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 99em;
  background-color: #000000;
  z-index: 3;

}

.dev-div {
  width: 40%;
  height: 20em;
  position: absolute;
  margin-left: 53%;
  margin-top: 22em;
  text-align: center;
}

.footer-container {
  width: 100vw;
  height: 3em;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 96em;
  background-color: #000000;
  z-index: 2;
}

.footer-p {
  font-family: 'Merriweather', serif;
  color: #616f39;
  text-align: center;
}

.h3-intro {
  font-family: 'Merriweather', serif;
  color: #616f39;
}

.h3-signature {
  font-family: 'Sacramento', cursive;
  color: #616f39;
  font-size: 3.2em;
  text-align: right;
}

.img-formating {
  position: relative;
  margin-left: auto;
  margin-top: 3em;
  width: 25em;
  height: 19.3em;
  float: none;
}

/*
.img-formating {
  position: relative;
  margin-left: auto;
  margin-top: 3em;
  width: 40%;
  height: 40%;
  float: none;
}
*/

.img-keyboard-container {
  width: 100vw;
  height: 10em;
}

.img-keyboard {
  width: 100vw;
  height: 10em;
}

.introduction-container {
  width: 40%;
  height: 30%;
  position: relative;
  margin: auto;
  margin-top: 17%;
  z-index: 3;
}

.map-div {
  width: 40%;
  height: 20em;
  position: absolute;
  margin-left: 10%;
  margin-top: 22em;
  text-align: center;
}

.menu-container {
  width: 100vw;
  height: 5em;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  background-color: #000000;
  z-index: 1;
}

.menu-links {
  text-decoration: none;
}

.menu-text {
  position: absolute;
  right: 1em;
  margin-top: 1em;
}

.page1-container {
  width: 100vw;
  height: 40em;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  background-color: #000000;
}

.page2-container {
  width: 100vw;
  height: 53.5em;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 42em;
  background-color: #3e432e;
}

.page2-title {
  position: relative;
  text-align: center;
  margin-top: 1.3em;
  font-family: 'Montserrat', sans-serif;
  text-decoration: underline;
  color: #000000;
}


/***********************ID SELETORS ******************************/
#aboutPage-container {
  width: 100vw;
  height: 101em;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
}
