/************************TAG SELETORS ******************************/
body {
  margin: 0;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #616f39;
  margin-top: 10px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  margin-top: 0;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  text-align: justify;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  margin-top: 0;
}

p {
  font-family: 'Merriweather', serif;
  color: #ffffff;
  margin: 0;
}

td {
  padding-right: 20px;
}

/***********************CLASS SELETORS ******************************/
.main-container {
  position: relative;
  margin: 0;
  width: auto;
  height: 200em;
  background-color: #000000;
}

.menu-container {
  width: 100%;
  height: 5em;
  position: absolute;
  margin-left: auto;
  margin-top: 0;
  background-color: #000000;
  z-index: 1;
}

.menu-links {
  text-decoration: none;
}

.menu-text {
  position: absolute;
  right: 1em;
  top: 1em;
}

.footer-menu {
  width: 100%;
  height: 5em;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #000000;
}

.footer-p {
  font-family: 'Merriweather', serif;
  color: #616f39;
  text-align: center;
  margin: 0;
}

.page1-container {
  width: 100%;
  height: 5em;
  position: absolute;
  margin-left: auto;
  margin-top: 5em;
  background-color: #000000;
}

.img-keyboard-container {
  width: 100%;
  height: 17em;
}

.img-keyboard {
  width: 100%;
  height: 12em;
}

.introduction-container {
  width: 31em;
  height: 30em;
  position: relative;
  margin: auto;
  top: 17.2em;
  z-index: 3;
}

.h3-intro {
  font-family: 'Montserrat', serif;
  font-weight: 900;
  color: #616f39;

}

.h3-signature {
  font-family: 'Sacramento', cursive;
  color: #616f39;
  font-size: 3.2em;
  text-align: right;
}

.page2-container {
  width: 100%;
  height: 153em;
  position: absolute;
  margin-left: auto;
  margin-top: 41em;
  background-color: #3e432e;
}

.page2-title {
  position: relative;
  text-align: center;
  margin-top: 2.8em;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

.ba-div {
  width: 30em;
  height: 30em;
  position: relative;
  margin: auto;
  top: 5em;
  text-align: center;



  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  background-color: #3e432e;
}

.map-div {
  width: 30em;
  height: 30em;
  position: relative;
  margin: auto;
  top: 10em;
  text-align: center;



  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  background-color: #3e432e;
}

.bp-div {
  width: 30em;
  height: 30em;
  position: relative;
  margin: auto;
  top: 15em;
  text-align: center;



  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  background-color: #3e432e;

}

.dev-div {
  width: 30em;
  height: 30em;
  position: relative;
  margin: auto;
  top: 20em;
  text-align: center;



  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  background-color: #3e432e;

}

.img-formating {
  position: relative;
  margin: 0;
  width: 150px;
  height: 150px;
  float: left;
}
