/************************TAG SELETORS ******************************/
body {
  margin: 0;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #616f39;
  margin-top: 10px;
}

h2 {
  font-family: 'Merriweather', sans-serif;
  color: #616f39;
  margin-top: 0;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  text-align: justify;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  margin-top: 0;
}

p {
  font-family: 'Merriweather', serif;
  color: #ffffff;
  margin: 0;
}

td {
  padding-right: 10px;
}

h4:hover {
  font-size: 150%;
  font-weight: bolder;
  font-style: oblique;
}

/***********************CLASS SELETORS ******************************/

.h2-format {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  color: #ffffff;
  margin: auto;
  padding: 0;
}

.ba-div {
  overflow: hidden;
  width: 35vw;
  height: auto;
  position: absolute;
  margin-top: 0;
  margin-left: 5%;
  text-align: center;
}

.ba-div .ba-caption{
  position: absolute;
  top: -500px;
  height: 100%;
  width: 100%;
  background: #3e432eb3;
  transition: 0.7s;
  text-align: center;
    }

.ba-div .ba-caption .ba-content {
  position: relative;
  top: 21%;
  color: #fff;
}

.ba-div:hover .ba-caption {
  top: 0;
}

.bp-div {
  overflow: hidden;
  width: 35vw;
  height: auto;
  position: absolute;
  margin-top: 0;
  margin-left: 53%;
  text-align: center;
}

.bp-div .bp-caption{
  position: absolute;
  top: -500px;
  height: 100%;
  width: 100%;
  background: #3e432eb3;
  transition: 0.7s;
  text-align: center;
}

.bp-div .bp-caption .bp-content {
  position: relative;
  top: 21%;
  color: #fff;
}

.bp-div:hover .bp-caption {
  top: 0;
}

.dev-div {
  overflow: hidden;
  width: 35vw;
  height: 35vh;
  position: absolute;
  margin-left: 53%;
  margin-top: 27em;
  text-align: center;
}

.dev-div .dev-caption{
  position: absolute;
  top: 150%;
  height: 100%;
  width: 100%;
  background: #3e432eb3;
  transition: 0.7s;
  text-align: center;
}

.dev-div .dev-caption .dev-content {
  position: relative;
  top: 21%;
  color: #fff;
}

.dev-div:hover .dev-caption {
  top: 0;
}

.copyright-container {
  width: 100vw;
  height: 2em;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 103em;
  background-color: #000000;
  z-index: 3;
}

.footer-container {
  width: 100vw;
  height: 5em;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100em;
  background-color: #000000;
  z-index: 2;
}

.footer-p {
  font-family: 'Merriweather', serif;
  color: #616f39;
  text-align: center;
}

.h3-intro {
  font-family: 'Merriweather', serif;
  color: #616f39;
}

.h3-signature {
  font-family: 'Sacramento', cursive;
  color: #616f39;
  font-size: 3.2em;
  text-align: right;
}

.img-formating {
  position: relative;
  margin-left: auto;
  margin-top: .0;
  width: 35vw;
  height: 43vh;
  float: none;
}

.img-keyboard-container {
  width: 100vw;
  height: 10em;
}

.img-keyboard {
  width: 100vw;
  height: 10em;
}

.introduction-container {
  width: 40%;
  height: 30%;
  position: relative;
  margin: auto;
  margin-top: 17%;
  z-index: 3;
}

.map-div {
  overflow: hidden;
  width: 35vw;
  height: 35vh;
  position: absolute;
  margin-left: 5%;
  margin-top: 27em;
  text-align: center;
}

.map-div .map-caption{
  position: absolute;
  top: 150%;
  height: 100%;
  width: 100%;
  background: #3e432eb3;
  transition: 0.7s;
  text-align: center;
}

.map-div .map-caption .map-content {
  position: relative;
  top: 21%;
  color: #fff;
}

.map-div:hover .map-caption {
  top: 0;
}

.menu-container {
  width: 100vw;
  height: 5em;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  background-color: #000000;
  z-index: 1;
}

.menu-links {
  text-decoration: none;
}

.menu-text {
  position: absolute;
  right: 1em;
  margin-top: 1em;
}

.page1-container {
  width: 100vw;
  height: 40em;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  background-color: #000000;
}

.page2-container {
  width: 100vw;
  height: 57.5em;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 42em;
  background-color: #3e432e;
}

.page2-title {
  position: relative;
  text-align: center;
  margin-top: .5em;
  font-family: 'Montserrat', sans-serif;

  font-size: 44px;
  font-weight: 900;
  color: #616f39;
}


/***********************ID SELETORS ******************************/
#aboutPage-container {
  width: 100vw;
  height: 104em;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
}
